.font-cursive {
  font-family: "Dancing Script", cursive;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-logo {
  font-family: "Train One", cursive;
}

.main-text {
  color: #536dfe;
}

.main-btn {
  background-color: #536dfe;
  color: #fff;
}

.main-border {
  color: #536dfe;
}
